

/* ============  UTILITY ============= */

.index-section {
    padding: 5em 0em;
}

.bg-light-blue {
    background-color:  #C1F0EA;
}

/* ============  NAVIGATION ========== */

.user-nav-avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50px;
}

.user-nav-avatar img {
    width: 100%;
}

/* ============ USER PROFILE SECTION ========== */

.consultant-profile-jumbotron {
    padding: 2em 0em;
    background: linear-gradient(180deg, #F0F9F8 51%, #fff 50%);
}

.user-profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #90dcd2;
    margin-right: 1.2em;
}

.user-profile-avatar img {
    width: 100%;
}

.user-profile-info h1 {font-weight: bold;text-shadow: 2px 2px 4px #0000003b;margin: 0;}

.user-profile-info h5 {
    text-shadow: 2px 2px 1px #00000021;
    margin: 0;
}

.user-profile-info i {
    color: blue;
}

.user-profile-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-navigation-section {
    background-color: #f0f9f8;
    display: flex;
    justify-content: center;
}

/* about me section */

.about-me-section {
    border-top: 3px solid #f0f9f8;
    padding: 2em 0em;
}

.about-me-image {
    width: 15em;
    height: 15em;
    overflow: hidden;
    padding: 1em;
    border: 3px solid #f0f9f8;
    display: flex;
    justify-content: center;
}

.about-me-image img {

}

.about-me-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-me-descriptin p {

}

.photo-gallery-section {
    background-color: #f2f7f6;
}

/* ==========  HOME BANNER =========== */

.home-slider-caption {
    position: absolute;
    top: 4em;
}

.slider-heading {
    font-weight: bolder;
}

.home-search-btn {
    background-color: #EDD9E7;
}

.home-banner-search input {
    position: absolute;
    box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
    border: none;
    border-radius: 20px;
}

.home-search-btn {
    position: relative;
    left: 235px;
    border-radius: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

/* ==========  TOP CONSULTANT SECTION ======== */

.top-consultant-section {
    background: linear-gradient(180deg, #F0F9F8 70%, #fff 50%);
}

.top-events-section {
    background: linear-gradient(180deg, #F1E9EF 70%, #fff 50%);
}

/* ==========  CONSULTANT CARD  ======== */

.consultant-card {
    border: 2px solid #C1F0EA;
    background: #fff;
    /* padding: 2em; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 13px;
}

.consultant-card-header {
    border-radius: 50%;
    overflow: hidden;
    width: 6em;
    height: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.consultant-card-header img {
    width: 6em;
}

.consultant-card-title {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.consultant-card-type {
    margin: 0;
    padding: 5px 0;
    color: #4D4D4D;
}

.consultant-card-location {
    font-size: 10px;
}

.consultant-card-rating {
    font-weight: bold;
    color: #38C7AB;
    margin: 15px 0;
    padding: 0;
}

/* ========  CONSULTANT CARD ENDS ====== */

/* ==========  EVENT CARD  ======== */

.event-card {
    border: 2px solid #C1F0EA;
    background-color: #fff;
}

.event-card-header {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.event-card-header img {
    width: 18em;    
    max-width: 18em;    
    min-width: 18em;
}

.event-card-body {
    padding: 1em;
}

.event-card-title {

}

.event-card-price {
    background-color: #C1F0EA;
    padding: 0 1em;
    border-radius: 50px;
    font-weight: bold;
}

.event-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    margin: 0.5em 0em;
}

.event-card-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-card-profile-header {
    width: 2em;
    height: 2em;
    overflow: hidden;
    border-radius: 50%;
}

.event-card-profile-header img {
    width: 2em;
    min-width: 2em;
    max-width: 2em;
}

.event-card-profie-username {
    padding: 0 0.6em;
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
}

.event-card-btn {
    border: none;
    padding: 0.4em 1em;
    border-radius: 5px;
    font-size: 0.7em;
    background-color: #C1F0EA;
}

/* ========  EVENT CARD ENDS ====== */

/* ==========  Login Form ========== */

.login-form {
    -webkit-box-shadow: 0px 0px 5px 2px rgb(193 240 234 / 100%);
    box-shadow: 0px 0px 5px 2px rgb(193 240 234 / 100%);
    padding: 3em;
    margin: 3em;
    border-radius: 12px;
}

.dark-btn {
    padding: 0.5em 5em !important;
    color: #fff !important;
    background-color: #000 !important;
}

/* ==========  Login Form Ends======== */

/* ========  FOOTER SECTION ========== */

.main-footer-section {
    background-color: #000;
}

.main-footer {
    padding: 3em 0;
}

.main-footer h4 {
    color: white;
    font-weight: 400;
    font-size: 1em;
}

.main-footer h5 {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

.copyright-footer {
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

.copyright-footer h6 {
    font-size: 0.8em;
    font-weight: 300;
}

/* ====== FOOTER SECTION ENDS ===== */






/* ======= IMAGE GALLERY ================ */
  
  /* Gallery */
  .lightboxgallery-gallery {
    display: block;
    margin: 60px -10px;
  }
  .lightboxgallery-gallery-item {
    cursor: zoom-in;
    display: block;
    float: left;
    width: 25%;
  }
  
  .lightboxgallery-gallery-item img {
    width: 100%;
  }
  
  .lightboxgallery-gallery-item > div {
    position: relative;
    margin: 10px;
  }
  
  .lightboxgallery-gallery-item > div:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
  }
  
  .lightboxgallery-gallery-item:hover > div:after {
    opacity: 1;
  }
  
  .lightboxgallery-gallery-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
  }
  
  .lightboxgallery-gallery-item:hover .lightboxgallery-gallery-item-content {
    opacity: 1;
  }
  
  .lightboxgallery-gallery-item-title {
    display: block;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px;
  }
  



  @media only screen and (max-width : 767px) {
    .lightboxgallery-gallery-item {
      width: 33.3333%;
    }
  }
  
  @media only screen and (max-width : 479px) {
    .lightboxgallery-gallery-item {
      width: 50%;
    }
  }




